{% extends 'base/main.html' %}

{% block content %}
<style>
    .room-container{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

    <div class="room-container">
        <div>
            <h4>{{ room.name }} ({{ room.topic }})</h4>
            <h5>Author: {{ room.host }}</h5>
            <p>{{ room.description|linebreaks }}</p><br>
            
            <div class="comment-wrapper">
                <h3>conversation</h3>
                <hr>
                {% for message in room_messages %}
                    <div>
                        {% if request.user == message.user %}
                            <a href="{% url 'base:delete-message' message.id %}">Delete</a>
                        {% endif %}<br>
                        <small>@{{ message.user }}  {{ message.created|timesince }} ago</small>
                        <p>{{ message.body }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
                <h4>Put Comment</h4>
                <div class="comment-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write your message here...">
                    </form>
                </div>
            {% endif %}
        </div>
        
        <div>
            <h3>Participants</h3>
            <hr>
            {% for p in participants %}
                <div>
                    <p>@{{ p.username }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}